$bg-color-1: #58cef1;
$bg-color-2: #68e3d6;
$bg-color-3: #edf2f9;
$bg-color-4: #f7faff;
$p-colo-1: #21314f;
$p-colo-2: #283b5a;
$p-colo-3: #7b96c4;
$s-color-1: #4ad8b6;
$t-color-1: #ff5d87;
$text-light: #55e4d4;
$text-color: #97abcd;
$text-color-1: #c5d1e6;
$btn-color-1: #3ccb35;

$icon-color-1: #e3e9f3;
$icon-color-2: #99adcf;
